.Projects{
    min-height: calc(100vh - 13vh);
    padding-bottom:2%;
}

.content-projects{
    border: 1px solid #2c2c54;
    background-color: #cc8e35;
    border-radius: 5px;
    padding:2%;
    margin:2%;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding:2% 2% 0 2%;
}
.project-list-item:hover{
    color: #2c2c54;
    font-weight: bold;
}
.project-description{
    background-image: radial-gradient(#ccae62,#cc8e35);
    background-color: #ccae62;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2c2c54;
    padding:2% 2% 0 2%;
    margin:0 2% 0 2%;
}
.project-image{
    border: 1px solid #2c2c54;
    border-radius: 5px;
}
.change-project{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#prev{
    border-width:15px 20px 15px 0;
    border-color: transparent #2c2c54 transparent transparent;
}
#next{
    border-width:15px 0 15px 20px;
    border-color: transparent transparent transparent #2c2c54;
}
.arrow{
    cursor:pointer;
    width:0;
    height:0;
    border-style:solid;
}